html,
body {
  background-color: #67b1e2;
}

.nav-bar {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  font-style: oblique;
  color: lightgray;
  padding-top: 1em;
  border-bottom-right-radius: 25px;
  background-color: #125e8a;
  height: 15%;
}
.navbar-link {
  color: lightgray;
  padding-right: 2em;
  text-decoration: none;
  float: right;
}
.navbar-link:hover {
  color: lightgray;
  text-decoration: underline;
}
.sidebar {
  background-color: #125e8a;
  width: 75%;
  padding: 1em;
  border-bottom-right-radius: 25px;
  float: left;
  width: 60%;
  height: 25%;
  position: absolute;
  top: 0px;
  left: -2px;
}

.sidebar-options {
  color: lightgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
  font-style: oblique;
  text-decoration: none;
  position: relative;
  left: -30px;
  list-style: none;
}
.sidebar-options ul {
  list-style: none;
}

.sidebar-options:hover {
  color: lightgray;
  text-decoration: underline;
}

.content-box {
  border: 4px solid #8a716a;
  border-radius: 50px;
  background-color: lightgray;
  margin: auto;
  margin-top: 5em;
  height: 550px;
  width: 60%;
}

.header-nav {
  float: right;
}
.nav1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
  color: lightgray;
  padding-right: 2em;
  padding-top: 1em;
  font-size: 2em;
  display: inline-block;
}

.nav1:hover {
  text-decoration: underline;
}
.login-box {
  /* background-color: pink; */
  position: relative;
  margin-top: 2em;
  left: 30%;
  height: 50%;
}

#login-button {
  position: relative;
  margin-top: 2em;
  left: 35%;
  height: 40px;
  width: 30%;
  background-color: #125e8a;
  font-size: larger;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

.login-email-label {
  width: 30%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.login-email-input {
  width: 65%;
  height: 2em;
  font-size: x-large;
}

.login-pass-label {
  width: 30%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.login-pass-input {
  width: 65%;
  height: 2em;
  font-size: x-large;
}

.login label {
  font-size: xx-large;
  display: inline-block;
  margin: auto;
}

.login button {
  display: block;
  margin: auto;
  height: 3em;
  width: 20%;
}

.left-child {
  float: left;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 13%;
  left: 0px;
}

.right-child {
  /* float: left; */
  margin: auto;
  margin-top: 2em;
  width: 80%;
  height: 100%;
  position: absolute;
  left: 40%;
  /* position: relative; */
}
#meeting-button {
  position: relative;
  left: 5%;
  height: 50px;
  width: 15%;
  margin-top: 0.5em;
  background-color: #125e8a;
  font-size: larger;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}
#meeting-info {
  position: relative;
  left: 9%;
  margin-bottom: 5px;
}
#cal-box {
  position: relative;
  left: 1%;
}
#change-button {
  position: relative;
  left: 5%;
  height: 50px;
  width: 15%;
  margin-top: 0.5em;
  background-color: #125e8a;
  font-size: larger;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}
